{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
<center>
<h1> SUCCESSFULLY DELETED</h1>


        <div class="action">
      <input type="button"><button>
            <a href="{% url 'add' %}" style="color:inherit">back </a></button></div>

</center>
</div>
  </body>
</html>
{% endblock content %}