{% extends 'base.html' %}
{% load static %}
{% block content %}



<!--dropdown menu end-->





  </head>

  <body>
  <!-- header -->
  <div class="header">
    <div class="top-div"><!--top div-->
    <div class="container-fluid">


<!-- //header --><link href="css/team.css" rel="stylesheet">
<style>

#mixedSlider {
  position: relative;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0%;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  /*width: 33.3333%;*/
  width:20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 25px;
}
@media (max-width: 991px) {
  #mixedSlider .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-content .item {
    width: 100%;
  }
}
#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-style: italic;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}
#mixedSlider .MS-content .item p {
  font-size: 16px;
  margin: 2px 10px 0 5px;
  text-indent: 15px;
}
#mixedSlider .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 16px;
  font-style: italic;
  color: rgba(173, 0, 0, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
  transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 30px;
  top: 0px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls button {
    font-size: 20px;
  }
}
#mixedSlider .MS-controls .MS-left {
  left: -35px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-left {
    left: -10px;
  }
}
#mixedSlider .MS-controls .MS-right {
  right: -20px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-right {
    right: -10px;
  }
}
#basicSlider { position: relative; }

#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}

#basicSlider .MS-content .item {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}
@media (max-width: 991px) {

#basicSlider .MS-content .item { width: 25%; }
}
@media (max-width: 767px) {

#basicSlider .MS-content .item { width: 35%; }
}
@media (max-width: 500px) {

#basicSlider .MS-content .item { width: 50%; }
}

#basicSlider .MS-content .item a {
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}
</style>
<div class="clearfix"></div>



	<div class="aboutus" style="background: #FFF;">
		<div class="container">
		<h3>About Us</h3>
			<hr>
			<div class="col-md-12 wow fadeInDown padding0 animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms; animation-delay: 300ms;">

<!--				<p> <img src="images/about-Blog.png" class="img-responsive" style="float:right;">-->
				Blog is a Cost Effective IT Services Company with 11 years of rich experience in serving its customers with a team of 700+ IT Professionals.  We’re one of the fastest growing companies in India providing Services in Application Dev &amp; Support, Identity Governance, Testing Services, Mobile Dev &amp; Testing, Staff Augmentation and Staffing Services to our customers. </p>
<p>We offer our services from our ODC in Hyderabad, India and cater to US, Canada and Australia.</p>
<p></p>

			<h4>Our Vision &amp; Mission </h4>
            <p>“To become a reliable cost-effective IT Services Partner to our Global Customers and to create a conducive environment for employees to contribute in Blog growth through continuous learning.”</p>



<h4>Our Core Values </h4>
			<ul style=" text-indent: 20px;"><li>
			    PEOPLE FIRST – Attention. Affection. Appreciation. </li>

<li>ATTITUDE OF GRATITUDE – Be Thankful.</li>

<li>NO FREE LUNCH – Nothing comes free.</li>

<li>CONTINUOUS LEARNING – Learning only makes us relevant in this world.</li>

<li>EMBRACE CHANGE – Change is constant.</li>

<li>PURSUE EXCELLENCE – Doing right, first time.</li>

<li>INCLUSIVE GROWTH – ‘WIN-WIN' is the only way for growth.
			</li></ul>
		<br>
		 <h4>Our Dream </h4>
			<p><strong>To become a 100 Cr INR Revenue company by FY22</strong></p>
			<p>We at Blog believes that everything starts with Dreaming.  All that we see in this world is created twice - first in our Brain and secondly in Reality.  So We are dreaming to achieve a Revenue of 100 Crore INR by 2021.</p>



<h1><strong style="font-family:forte; font-weight:normal; " class="clr1">Think Big - Dream 100</strong></h1>
	</div>

			<!--<div class="about">
		<div class="container">
			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
				<img src="images/3.jpg" class="img-responsive">
			</div>

			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
				<h2>Why Blog?</h2>
                <h4>Our Collaborative approach with Customers make us unique in delivering our Services to Customers.</h4>
				<ul>
                   <li>Highly Skilled Resources with Value Leadership to drive our Projects.</li>
<li>Quick Deployment – Blog commits to deploy applications within the committed time by keeping the Time to Market advantage for Customers.</li>
<li>Agile & DevOps Frameworks – Our Agile and Dev Ops framework enables Blog teams to collaborate with Customer teams in delivering quality applications with utmost agility.</li>
<li>Cost Effective IT Services – With Cost as USP – Blog operates with minimal Overheads and Margins, which will be a value add for our customers.</li>


                </ul>
			</div>
		</div>
	</div>-->
	 <!--vision-->
	<!--<div class="container-fluid vision">
    <div class="container">
    <div class="col-md-1">
    <h3>Vision: </h3>
    </div>
    <div class="col-md-10">
    <p>To become a preferred offshore partner for Global Companies to fulfill their Project resource needs by 2020.</p>
    </div>
    </div>
    </div>-->
    <!--vision end-->
	</div>
		<div class="clearfix"></div>


           <!-- <h4>Leadership Team</h4>
            <ul class="list-group" style="list-style-type:none; line-height:24px; margin-left:0px;">
			<li><b>Phaniraj Jaligama</b>, MD & CEO</li>

<li><b>Uday Kumar Satrasala</b>, Head – Customer Acquisition</li>
<li><b>Sanjeeva Reddy Pakala</b>, Client Engagement Manager</li>
<li><b>Suresh Kumar Kandipalli</b>, Head – Staffing Services</li>
<li><b>Arun Kumar Alampally</b> – IdM CoE</li>
<li><b>Ramakrishna Bikkunoori</b> – Delivery – Emerging Technologies</li>
<li><b>Sunil Mukta</b> – Delivery – Application Dev</li>

			</ul>-->

		</div>


<footer>

    <div class="contact-info1">
    <div class="container bottom-footer">


      <div class="row">
       <div class="col-md-3 footer-row">
        <h4>Los Angeles, USA</h4>
        <h5>Blog Innovative Technologies Inc</h5>

<p>28422 Constellation Road,<br>

Suite # 211, Valencia, CA 91355-3027<br>
<!--<i class="fa fa-phone"></i> +1 (310) 227 5909 (Direct)<br>-->
<i class="fa fa-envelope"></i> <a href="sales@Blog-it.com">sales@Blog-it.com</a></p>
       </div>


<div class="col-md-3 footer-row">
       <h4>Hyderabad, INDIA</h4>
       <h5>Blog Innovative Technologies Pvt. Ltd.</h5>
            <p style="
    text-align: left !IMPORTANT;
">Plot No 31 &amp; 32, 4th &amp; 5th Floor, Tower B, Ramky Selenium, Financial District, Nanakramguda,<br>
             Gachibowli, Hyderabad, Telangana - 500032<br>
           <i class="fa fa-phone"></i> +91 7337392406<br>
           <i class="fa fa-envelope"></i> <a href="mailto:sales@Blog-it.com">sales@Blog-it.com</a></p>
       </div>
<!--<div class="col-md-3 footer-row">
       <h4>London, UK</h4>
       <h5>Blog Innovative Technologies UK Ltd</h5>
            <p> 10 John Street,<br>
           London, England – WCIN2EB<br>
           <i class="fa fa-envelope"></i> <a href="mailto:sales@Blog-it.com">sales@Blog-it.com</a></p>
       </div>
       <div class="col-md-3 footer-row">
       <h4>Dubai, UAE</h4>
       <h5>Blog Innovative Technologies FZ-LLC</h5>
            <p>Coming Soon<br>
            <i class="fa fa-envelope"></i> <a href="mailto:sales@Blog-it.com">sales@Blog-it.com</a>
       </div> -->



    </div>

        </div>
        </div>
		<div class="footer">



			<div class="pull-right">
				<a href="#home" class="scrollup" style="display: block;"><i class="fa fa-angle-up fa-3x"></i></a>
			</div>
		</div>

	</footer>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/functions.js"></script>


    </div></body></html>
{% endblock content %}