{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
<form action="" method="post" novalidate>


  <br>
  {% csrf_token %}
  {% if sign.non_fields.errors %}
  {% for i in sign.non_fields_error %}

  <h4>{{i}}</h4>
  {% endfor %}
  {% endif %}
      <h1>Change Password</h1>
      <div class="content">
      <div class="input-field">
          <table>
  {% for i in sign %}
  <h4>{{i.label_tag}} {{i}} {{i.errors|striptags}}</h4>

            {% endfor %}</table>
      </div></div>
  <div class="action">
    <input type="button"><button>Update</button></div><br>
</form>

<div class="action">
      <input type="button"><button><a href = "{% url 'profile' %}">Back</a>
</button></div></div>
</center>
</body>
</html>
{% endblock content %}