
<center>
    <br><br><br><br><br><br><br><br>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="er">{{error}}</p>
        {% endfor %}
    {% endif %}

    <br>
    <br>

    <input type="submit", value="Login">
</form>
    {% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}></small>
    {% endfor%}
{% endif %}
     <br>
    <a href="{% url 'signup' %}">Signup</a>

</center>
